**1. What exactly is `[]`?**

**Ans**: `[]` are square brackets which represents `lists` in python. here there is no value in it so its an **empty list**.

**2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume `[2, 4, 6, 8, 10]` are in spam.)**

**Ans**: `spam[2] = 'hello'`

In [4]:
#Q2 CODE
spam = [2,4,6,8,10]
spam[2] = 'hello'
print(spam)  #'hello' is assigned as third value

[2, 4, 'hello', 8, 10]

####**Let&#39;s pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.**

**3. What is the value of** `spam[int(int('3'*2)//11)]`?

**Ans**: `int('3'*2)//11` gives 3 so `spam[3]` is `d` 
so the answer is **d**

In [11]:
spam = ['a','b','c','d']
print('Answer is' , spam[int(int('3'*2)//11)])

Answer is d

**4. What is the value of `spam[-1]`?**

**Ans**: The negative indexing for list starts from right side. it returns the value `d`

In [12]:
spam = ['a','b','c','d']
print('Answer is', spam[-1])

Answer is d

**5. What is the value of `spam[:2]`?**

**Ans**: This returns the value `['a','b']` from list with index 0 to 1, it excludes index 2.

In [13]:
spam = ['a','b','c','d']
print('Answer is',  spam[:2])

Answer is ['a', 'b']

####**Let's pretend bacon has the list [3.14, 'cat', 11, 'cat', True] for the next three question**

**6. What is the value of `bacon.index('cat')`?**

**Ans**: This returns the value `1`, the `index()` method returns minimum index at which the specified sub-string occurs in iterable.

In [14]:
bacon = [3.14, 'cat', 11, 'cat', True]
print('Answer is', bacon.index('cat'))

Answer is 1

**7. How does `bacon.append(99)` change the look of the list value in bacon?**

**Ans**: append() method adds element to the end of the list.
`bacon = [3.14, 'cat', 11, 'cat', True, '99']`

In [17]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.append('99')
print('List after append: ', bacon )

List after append:  [3.14, 'cat', 11, 'cat', True, '99']

**8. How does `bacon.remove('cat')` change the look of the list in bacon?**

**Ans**: remove() method removes the first occurrence input 'cat' if it is present in the list.
`bacon = [3.14, 11, 'cat', True]`

In [18]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.remove('cat')
print('List after remove: ', bacon )

List after remove:  [3.14, 11, 'cat', True]

**9. What are the list concatenation and list replication operators?**

**Ans**: The operator used for list concatenation is `+` and the operator for list replication is `*`

In [32]:
list_1 = [1,2,3,4,5]
list_2 = [2,4,6,8,10]
print('=list concatenation ==',list_1 + list_2)
print('=list replication ==', list_1*2)

=list concatenation == [1, 2, 3, 4, 5, 2, 4, 6, 8, 10]
=list replication == [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

**10. What is difference between the list methods append() and insert()?**

**Ans**: append() method adds the input element to the end of the list where as the insert() method allows us to add element to the specified index.

In [35]:
list_1 = [1,2,3,4,5]
print('== append ==')
list_1.append('hi')
print(list_1)
list1 = [1,2,3,4,5]
print('== insert ==')
list1.insert(2,'bye')
print(list1)

== append ==
[1, 2, 3, 4, 5, 'hi']
== insert ==
[1, 2, 'bye', 3, 4, 5]

**11. What are the two methods for removing items from a list?**

**Ans**: `remove()` and `pop()` are two methods for removing items from a list.
remove() deletes items based on the `input` element. where as pop removes an element by the `index` value.

In [38]:
list_1 = [1,2,3,4,5]
print('== remove ==')
list_1.remove(4) #removes element 4 from the list
print(list_1)
print('== pop ==')
list_1.pop(1) #removes element in index 1
print(list_1)

== remove ==
[1, 2, 3, 5]
== pop ==
[1, 3, 5]

**12. Describe how list values and string values are identical.**

**Ans**: Both list and string can be concatenated and replicated. both are iterable can be used in loops.

**13. What's the difference between tuples and lists?**

**Ans**: Lists are `mutable` objects, tuples are `immutable` objects. tuples are enclosed in `( )` whereas lists are enclosed in `[ ]` .

**14. How do you type a tuple value that only contains the integer 42?**

**Ans**: If we create a tuple with only one value, `comma` should be used as the end. otherwise it is taken as integer by python.

In [39]:
t = (42,)
type(t)

tuple

**15. How do you get a list value's tuple form? How do you get a tuple value's list form?**

**Ans**: to convert a tuple values to list form list(tuples), to convert a list values tuple form ([list]).

In [48]:
a = (1,2,3)
b = [4,5,6]
print(a , 'to', list(a))
print(b, 'to', tuple(b))

(1, 2, 3) to [1, 2, 3]
[4, 5, 6] to (4, 5, 6)

**16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?**

**Ans**: Variables will contain references to list values

**17. How do you distinguish between `copy.copy()` and `copy.deepcopy()`?**

**Ans**: `copy.copy()` is known as shallow copy of an object it wonâ€™t duplicate object, `copy.deepcopy()` is known as deep copy it will create a duplicate of the object after any changes.

In [65]:
import copy
l1 = [1, 2, [3,4], 5]
l2 = copy.deepcopy(l1)
l2[2] = 6
print('after deepcopy', l1 )

after deepcopy [1, 2, [3, 4], 5]

In [66]:
l1 = [1, 2, [3,4], 5]
l2 = copy.copy(l1)
l2[2][0] = 6
print('after shallow copy', l1)

after shallow copy [1, 2, [6, 4], 5]